In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
import os
import os.path as osp
sys.path.insert(1, osp.abspath('../'))

In [ ]:
from modules.torch_dataset.sequence_graph_dataset import SequenceGraphDataset

dataset = SequenceGraphDataset(sequence_path_prefix='datasets/AIC20', 
                               sequence_names=['S01', 'S03', 'S04'], 
                                annotations_filename='gt.txt')

data = dataset[0]     # Access the first processed graph

In [5]:
import pandas as pd
edge = pd.read_json("datasets/AIC20/logs/S03/sequence_graph_edges.json")
edge.head()

   src_node_id  dst_node_id  src_obj_id  dst_obj_id  edge_labels
0            0           14         252         252            1
1            0           15         252         242            0
2            0           16         252         256            0
3            0           17         252         246            0
4            0           18         252         247            0

In [37]:
edge[(edge.src_obj_id == edge.dst_obj_id)].head()

    src_node_id  dst_node_id  src_obj_id  dst_obj_id  edge_labels
0             0           14         252         252            1
17            0           31         252         252            1
31            0           45         252         252            1
48            0           62         252         252            1
67            1           15         242         242            1

In [ ]:
from modules.torch_dataset.object_graph_dataset import ObjectGraphDataset

In [4]:
from models.reid.resnet import resnet101_ibn_a
model = resnet101_ibn_a(model_path="/Users/hectormejia/Documents/TFM/mcmt_gnn/models/reid/resnet101_ibn_a_2.pth", device="cpu")

Loading pretrained model from /Users/hectormejia/Documents/TFM/mcmt_gnn/models/reid/resnet101_ibn_a_2.pth

In [5]:
from modules.torch_dataset.object_graph_dataset import ObjectGraphDataset

dataset = ObjectGraphDataset(sequence_path_prefix="/Users/hectormejia/Documents/TFM/mcmt_gnn/datasets/AIC22", 
                             sequence_names=['S01'], 
                             annotations_filename='gt.txt', 
                             reid_model=model,
                             num_ids_per_graph=10, 
                             embeddings_per_it=64, 
                             resized_img_shape=(224, 224), 
                             orignal_img_shape=(1920, 1080), 
                             augmentation=None)

In [6]:
dataset[1]

Sampling object ids
Computing embeddings
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.